{% block title %}Create Account{% endblock %}


{% block content %}
    <form method="POST" class="form-group">
    {% csrf_token %}

    {{ form.as_p }}
<!--     <br>
    {{ form.email.label }}
    {{ form.email}}
    <br>
    {{ form.username.label }}
    {{ form.username}}
    <br>
    {{ form.password1.label }}
    {{ form.password1}}
    <br>
    {{ form.password2.label }}
    {{ form.password2}}
    <br>
    {{ form.first_name.label }}
    {{ form.first_name }}
    <br>
    {{ form.last_name.label }}
    {{ form.last_name }}
    <br>
    {{ form.date_birth.label }}
    {{ form.date_birth }}
    <br>
    {{ form.user_type }}
    <br> -->
<!--     <p>Please select your Role:</p>
    <input type="radio" id="parent" name="role" value="parent">
    <label for="parent">parent</label><br>
    <input type="radio" id="student" name="role" value="student">
    <label for="student">student</label><br>
    <input type="radio" id="tutor" name="role" value="tutor">
    <label for="tutor">tutor</label>
    <br> -->
    <button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}